<h1 class="text-center">Products Task</h1>

<div class="row">
    <div class="col-md-12 mb-3" *ngFor="let p of productsarr">
        <div class="card">
            <div class="card-body productscard" [ngClass]="{'not-available' : !p.isAvailable}">
                <div class="row">
                    <div class="col-md-4">
                        <img 
                        *ngIf="p.image ; else noimg"
                        [src]="p.image"
                         alt=""
                         title="">
                         <ng-template #noimg>
                            <p class="noimage d-flex justify-content-center">No Image</p>
                         </ng-template>
                    </div>
                    <div class="col-md-6">
                        <h2 class="d-flex justify-content-between">{{p.name}} <span class="badge" 
                            [ngClass]="{'badge-success': p.rating >=4,
                            'badge-warning' : p.rating >=3 && p.rating < 4,
                            'badge-danger' : p.rating < 3
                        }">{{p.rating}}</span></h2>
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let f of p.features">{{f}}</li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <del>{{(p.price + (p.price * .20) | currency : 'INR')}}</del>
                        <p><strong>{{p.price | currency : 'INR'}}</strong></p>
                        <p *ngIf="p.noOfItems < 10" class="text-danger"><strong>{{p.noOfItems}} left only</strong></p>
                    </div>
                </div>
            </div>
            <strong class="unavailable text-danger" *ngIf="!p.isAvailable">Currently not Available !</strong>
        </div>
    </div>
</div>
